<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="jquery-3.6.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="static/inst.css">
    <title>Document</title>
</head>
<body>
  <style>
/*bckgrnd class*/
.bg1{
  background-color: black;
}
/*title img class*/
.img1{
width: 90%;
}
/*orange box*/
.obox{
  padding: 10px 20px 10px 20px;
}
.white{
  color: white;
  font-family:Anonymous Pro;
}
.img2{
  width: 100%;
  border-style: solid;
  border-color: black;
  border-radius: 10%;
}
.img3{
  width: 100%;
}
.bdr{
 border-style:solid;
  border-width: 2px;
  border-color: #FF6600;
  padding: 20px 10px 20px 10px;
}
.view{
  width: 100%;
}
.prl{
  color: purple;
}
.img4{
width: 100%;
  border-style: solid;
  border-color: #FF6600;
  border-radius: 5%;
  border-width: 1px;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  }
  </style>
  <script>
    $(document).ready(function () {

    });
</script>
<div class="container-fluid">

    <body class="bg1">
        <link href='http://fonts.googleapis.com/css?family=Anonymous+Pro&subset=latin,latin-ext' rel='stylesheet'
            type='text/css'>

        <nav class="navbar sticky-top navbar-light bg-faded menu text-width text-heigh">

            <a href="#1"><button class="btn btn-lg btn-dark">Description</button></a>
            <h1> | </h1>
            <a href="#2"><button class="btn btn-lg btn-dark">Expansions</button></a>
            <h1> | </h1>
            <a href="#3"><button class="btn btn-lg btn-dark">Trailer</button></a>
            <h1> | </h1>
        </nav>
        <div class="row">
            <div class="col-md-8">
                <center><a target="_blank" href="https://tomclancy-thedivision.ubisoft.com/game/en-us/home/"><img
                            class="img1" src="http://downdetector.com/i/logo/thedivision.png"></img></a></center>
            </div>
            <div class="col-md-4">
                <center><img
                        src="http://cloud-3.steamusercontent.com/ugc/865109206721487185/85ADE44B5B3D13C3869ECB6AE92DBD3C7874437B/"
                        class="img3" /></center>
            </div>
        </div>
        <A NAME="1"></A>
        <hr color="#FF6600" />
        <div class="row">
            <div class="col-md-8">
                <div class="obox">
                    <h2 class="white">"When society falls, we rise!"</h2>
                    <h4 class="white text-justify">Our world has significantly changed.
                        In the short amount of time since the pandemic, many of us did not survive. Chaos is just around
                        the corner.
                        Tom Clancy’s The Division is a revolutionary next-gen experience that brings the RPG into a
                        modern military setting for the first time.

                        In the wake of a devastating pandemic that sweeps through New York City, basic services fail one
                        by one, and without access to food or water the city descends into chaos.

                        As an agent of The Division, you’ll specialize, modify, and level up your gear, weapons, and
                        skills to take back New York on your own terms.
                        Check out the official <a class="prl" target="_blank"
                            href="https://tomclancy-thedivision.ubisoft.com/game/en-us/home/">The Division</a> site!
                    </h4>
                </div>
            </div>
            <div class="col-md-4">
                <center><img
                        src="https://i.pinimg.com/736x/e3/88/54/e38854320b2e20ec2b0bea58db78178c--tom-clancy-the-division-videogames.jpg"
                        class="img3" /></center>
            </div>
        </div>
        <A NAME="2"></A>
        <hr color="#FF6600" />
        <div class="row">
            <div class="col-md-4 ">
                <center><img src="https://i.ytimg.com/vi/_Mj4xuEeOSI/maxresdefault.jpg" class="img4">
                    <hr color="#FF6600" />
                    <h5 class="white text-justify" />The first expansion for Tom Clancy's The Division™ takes you below
                    New York’s streets and into a maze of subways, tunnels, and sewers. The Division’s enemies have
                    taken over Manhattan’s sprawling underground and are planning devastating attacks. You and your
                    fellow agents must take the fight to them.</h5>
                </center>
                <h5><a class="prl"
                        href="https://tomclancy-thedivision.ubisoft.com/game/en-us/expansions/underground/index.aspx"
                        target="_blank">| Learn more</a></h5>
            </div>
            <div class="col-md-4 " <center><img
                    src="http://store.ubi.com/on/demandware.static/-/Sites-masterCatalog/default/dwaab43176/images/large/582b445929e1233b548b4567-1.jpg"
                    class="img4">
                <hr color="#FF6600" />
                <h5 class="white text-justify">Rumors of a cure begin to circulate as a monstrous snowstorm approaches
                    NYC. Sent to recover the potential antidote, your chopper is brought down leaving you cold, hungry
                    and stripped of gear, forcing you to find warmth and scavenge for materials. You must search for the
                    cure in these unforgiving conditions, beware of other dangers and find a way to extract it from the
                    chaos. Our survival depends on it.</h5></img></center>
                <h5><a class="prl"
                        href="https://tomclancy-thedivision.ubisoft.com/game/en-us/expansions/survival/index.aspx"
                        target="_blank">| Learn more</a></h5>
            </div>
            <div class="col-md-4">
                <center><img class="img4"
                        src="http://www.24-7gamer.com/wp-content/uploads/2017/01/the-division-last-stand-fino-alla-fine-1472220277.jpg">
                    <hr color="#FF6600" />
                    <h5 class="white text-justify">In Expansion III: Last Stand, experience the Dark Zone in a new way,
                        through a new game mode with up to 16 players. Join forces to capture and hold tactical
                        locations. Experience a new Incursion “Stolen Signal”, get new gear, weapons and more!</h5>
                    </img>
                </center>
                <h5><a class="prl"
                        href="https://tomclancy-thedivision.ubisoft.com/game/en-us/expansions/last-stand/index.aspx"
                        target="_blank">| Learn more</a></h5>
            </div>
        </div>
        <A NAME="3"></A>
        <hr color="#FF6600" />
        <div class="row">
            <div class="col-md-6">
                <img class="img2"
                    src="https://i.kinja-img.com/gawker-media/image/upload/s--Z1jWluHL--/c_fill,fl_progressive,g_center,h_900,q_80,w_1600/e8yap9rqwxksdu3ezkig.jpg" />
            </div>
            <div class="col-md-6">
                <center><iframe class="view" width="560" height="315" src="https://www.youtube.com/embed/uElsBflqgYw"
                        frameborder="0" allowfullscreen></iframe></center>
                <center>
                    <h3 class="white ">Watch the trailer!</h3>
                </center>
            </div>
        </div>
        <hr color="#FF6600" />
        <div class="row">
            <div class="col-md-6">
                <center><img class="img3"
                        src="http://cdn.videogamesblogger.com/wp-content/uploads/2016/03/the-division-cheat-codes.gif" />
                </center>
            </div>
            <div class="col-md-6 bdr">
                <h4 class="white text-center">Source: <a class="prl" target="_blank"
                        href="https://tomclancy-thedivision.ubisoft.com/game/en-us/home/">www.thedivision.com</a></h4>
                </iv>
            </div>
    </body>
</div>

</body>
</html>