{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="">
{% endblock %}

{% block body %}


<style>

.footer {
        display: none;
    }

    .container {
   padding-left: 0;
   padding-right: 0;
}
</style>
<script>
    function fnExcelReport() {
            var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
            var textRange; var j = 0;
            tab = document.getElementById('headerTable'); // id of table

            for (j = 0; j < tab.rows.length; j++) {
                tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
                //tab_text=tab_text+"</tr>";
            }

            tab_text = tab_text + "</table>";
            tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
            tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
            tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

            var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE ");

            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
            {
                txtArea1.document.open("txt/html", "replace");
                txtArea1.document.write(tab_text);
                txtArea1.document.close();
                txtArea1.focus();
                sa = txtArea1.document.execCommand("SaveAs", true);
            }
            else                 //other browser not tested on IE 11
                sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));

            return (sa);
        }
</script>
<table class="table" style="width: 100%;" id="headerTable">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Sr. No.</th>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">10th percentage</th>
            <th scope="col">School</th>
            <th scope="col">Taluk</th>
            <th scope="col">District</th>
        </tr>
    </thead>
    <tbody>

        {% for ttlreg in data %}
   
            <tr>
                <td>{{loop.index}}</td>
                <td>{{ttlreg['name']}}</td>
                <td>{{ttlreg['username']}}</td>
                <td>{{ttlreg['percent']}}&percnt;</td>
                <td>{{ttlreg['school']}}</td>
                <td>{{ttlreg['taluk']}}</td>
                <td>{{ttlreg['district']}}</td>
            </tr>

        {% endfor %}
        
    </tbody>
</table>
<center><button class="btn btn-primary" onclick="fnExcelReport()" id="tbl_exporttable_to_xls">Download as Excel</button></center><br><br><br><br>
<!-- <script>
    $('#download').on('click', function(){
        var url = window.location.href;
        var list = url.split('/');
        $.ajax({
            type:"POST",
            dataType:"json",
            data : {test_id: list[list.length-1]},
            success: {
                
            }
        });
    });
    var url = window.location.href;
    var list = url.split('/');
    $("#download").attr('href','/static/' + list[list.length-1] + ".csv");
</script> -->
{% endblock %}